= form_for @quote_note do |f|
  - if @quote_note.errors.any?
    #error_explanation
      %h2= "#{pluralize(@quote_note.errors.count, "error")} prohibited this quote_note from being saved:"
      %ul
        - @quote_note.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :quote_text
    = f.text_area :quote_text
  .field
    = f.label :font_family
    = f.text_field :font_family
  .field
    = f.label :quote_author
    = f.text_field :quote_author
  .field
    = f.label :background
    = f.text_field :background
  .field
    = f.label :overlay
    = f.check_box :overlay
  .field
    = f.label :font_color
    = f.text_field :font_color
  .actions
    = f.submit 'Save'
