= form_for @quote_note do |f|
  #editor.five.columns
    #text-editor
      = f.text_area :quote_text, :placeholder => 'Your quote here.', :id => 'text-box'
      = f.text_field :quote_author, :placeholder => 'Author (Optional)', :id => 'author-box'
    %hr
    %h5
      %i.fi-page-edit
      Text Options
    = f.color_field :font_color, :value => '#ffffff', :class => 'minicolors colorpicker'
    = render :partial => 'home/font_picker'

    %hr
    %h5
      %i.fi-photo
      Background Options
    = f.check_box :overlay, :id => 'overlay'
    = f.label :overlay, :class => 'high_contrast_label' do
      Darken Background
    = render :partial => 'home/background_picker'
    = f.hidden_field :background_id
    / = f.submit 'Save', :class => 'link_to_purchase button'
  #iframe-container.seven.columns
    #editor-iframe
    .image-link-container
      %a.link_to_image.button
        %i.fi-download
        Download
      = button_tag(:type => 'submit', :class => 'link_to_purchase button button-pink') do
        %i.fi-dollar
        Purchase
