%p#notice= notice

%p
  %b Quote text:
  = @quote_note.quote_text
%p
  %b Font family:
  = @quote_note.font_family
%p
  %b Quote author:
  = @quote_note.quote_author
%p
  %b Background:
  = @quote_note.background
%p
  %b Overlay:
  = @quote_note.overlay
%p
  %b Font color:
  = @quote_note.font_color

= link_to 'Edit', edit_quote_note_path(@quote_note)
\|
= link_to 'Back', quote_notes_path
