!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Quotenote
    = yield :font_styles
    = csrf_meta_tags
  %body

    #quotenote{:style => "color: #{@options[:font_color]}; font-family: #{@options[:font_family].split('_').join(' ').titleize}; background-image: url(#{@background_url});", :class => "#{'cover-background' unless @options[:repeating] == 'true'}"}
      .overlay{:class => "#{'active' if @options[:overlay] == 'true'}"}
      .quote.cf
        .quote-text
          - @options[:quote_text].each do |line|
            .quote-text-line
              = line
        .author-text
          = @options[:quote_author]

- content_for :font_styles do
  = render :partial => 'image_styles'
  = render :partial => "generator/fonts/#{@options[:font_family]}"

- content_for :footer_js do
  :javascript
    $(window).load(function(){
      window.qn.generator.init();
    });
