!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Quotenote
    :css
      #quotenote {
        height: 1084px;
        width: 1680px;
        font-family: Helvetica;
      }
      #quotenote.cover-background {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
      }
      #quotenote .quote {
        padding: 15%;
        box-sizing: border-box;
      }
      #quotenote .quote .author-text {
        opacity: .7;
        float: right;
      }

    = yield :font_styles
    = csrf_meta_tags
  %body

    #quotenote{:style => "color: #{@options[:font_color]}"}
      .quote
        .quote-text
          = @options[:quote_text]
        .author-text
          = @options[:quote_author]

    .google_api_key{:style => 'display: none;', :data => {:key => GOOGLE_API_KEY}}

- content_for :font_styles do
  %link{:rel => 'stylesheet', :type => 'text/css', :href=> "https://fonts.googleapis.com/css?family=#{@options[:font_family]}"}

- content_for :footer_js do
  :javascript
    $(window).load(function(){
      window.qn.generator.init();
    });
