!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Quotenote
    = yield :font_styles
    = csrf_meta_tags
  %body

    #quotenote{:style => "color: #{@options[:font_color]}; font-family: #{@options[:font_family]};"}
      .quote
        .quote-text
          = @options[:quote_text]
        .author-text
          = @options[:quote_author]
        - 10.times do
          / %br

- content_for :font_styles do
  = render :partial => 'image_styles'
  = render :partial => "generator/fonts/#{@options[:font_family].downcase.split(" ").join("_")}"

- content_for :footer_js do
  :javascript
    $(window).load(function(){
      window.qn.generator.init();
    });
