.row.checkout
  .seven.columns
    = render 'orders/errors'
    - unless current_user
      %h2.section-header Account Information
      %p
        If you're a cool cat with an account already,
        = link_to "Log in.", new_user_session_path

    = form_for @order_form, :url => orders_path do |f|
      = f.fields_for :user, f.object.user do |u|
        - unless current_user
          .form-group
            .row
              .twelve.columns
                = u.label :email
                = u.text_field :email, :class => 'pristine validate'
            .row
              .six.columns
                = u.label :password
                = u.password_field :password, :class => 'pristine validate', :required => true, :minlength => '8'
              .six.columns
                = u.label :password_confirmation, 'Confirm your password!'
                = u.password_field :password_confirmation, :class => 'pristine validate', :required => true, :minlength => '8'
        - else
          = u.hidden_field :id

        .form-group
          %h2.section-header Shipping Information
          .row
            .six.columns
              = u.label :first_name, 'First Name'
              = u.text_field :first_name, :class => 'pristine validate', :pattern => '^[a-zA-Z]+(?:[\s-][a-zA-Z]+)*$', :required => true
            .six.columns
              = u.label :last_name, 'Last Name'
              = u.text_field :last_name, :class => 'pristine validate', :pattern => '^[a-zA-Z]+(?:[\s-][a-zA-Z]+)*$', :required => true
          .row
            .twelve.columns
              = u.label :address
              = u.text_field :address, :class => 'pristine validate', :pattern => '[a-zA-Z\d\s\-\,\#\.\+]+', :required => true
          .row
            .five.columns
              = u.label :country, 'Country'
              = u.country_select :country, {:priority_countries => ['US']}, {:class => 'pristine'}
            .four.columns
              = u.label :state, 'State (Only for US)'
              = u.select :state, us_states, {}, {:class => 'pristine validate'}
            .three.columns
              = u.label :postal_code, 'Postal Code'
              = u.text_field :postal_code, :class => 'pristine validate', :pattern => '^\d{5,6}(?:[-\s]\d{4})?$', :required => true
          .row
            .seven.columns
              = u.label :city
              = u.text_field :city, :class => 'pristine validate', :pattern => '^[a-zA-Z]+(?:[\s-][a-zA-Z]+)*$', :required => true
            .five.columns
              = u.label :phone
              = u.text_field :phone, :class => 'pristine validate', :pattern => '^(?:(?:\+?1\s*(?:[.-]\s*)?)?(?:\(\s*([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9])\s*\)|([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9]))\s*(?:[.-]\s*)?)?([2-9]1[02-9]|[2-9][02-9]1|[2-9][02-9]{2})\s*(?:[.-]\s*)?([0-9]{4})(?:\s*(?:#|x\.?|ext\.?|extension)\s*(\d+))?$', :required => true

      %h2.section-header Credit Card Information
      #dropin

      %p= f.submit "Place Order", :class => 'button button-pink'
  .five.columns
    = render 'carts/cart_summary', :header => 'Order Summary'

- content_for :footer_js
:javascript
  $(window).load(function(){
    window.qn.checkout.init();

    braintree.setup(
      "#{@client_token}",
      'dropin', {
        container: 'dropin'
      });
  });
