.row.checkout
  .seven.columns
    - unless current_user
      %h2.section-header Account Information
      %p
        If you're a cool cat with an account already,
        = link_to "Log in.", new_user_session_path

    = form_for @order_form, :url => orders_path do |f|
      = f.fields_for :user, f.object.user do |u|
        - unless current_user
          .form-group
            .row
              .twelve.columns
                = u.label :email
                = u.text_field :email
            .row
              .six.columns
                = u.label :password
                = u.password_field :password
              .six.columns
                = u.label :password_confirmation, 'Confirm your password!'
                = u.password_field :password_confirmation
        - else
          = u.hidden_field :id

        .form-group
          %h2.section-header Shipping Information
          .row
            .six.columns
              = u.label :first_name, 'First Name'
              = u.text_field :first_name
            .six.columns
              = u.label :last_name, 'Last Name'
              = u.text_field :last_name
          .row
            .twelve.columns
              = u.label :address
              = u.text_field :address
          .row
            .three.columns
              = u.label :postal_code, 'Postal Code'
              = u.text_field :postal_code
            .four.columns
              = u.label :state, 'State (Only for US)'
              = u.select :state do
                = options_for_select us_states
            .five.columns
              = u.label :city
              = u.text_field :city
          .row
            .seven.columns
              = u.label :country, 'Country'
              = u.country_select :country, {:priority_countries => ['US']}, {:class => 'form-control'}
            .five.columns
              = u.label :phone
              = u.text_field :phone

      %h2.section-header Credit Card Information
      #dropin

      %p= f.submit "Place Order", :class => 'button button-pink'
  .five.columns
    = render 'cart_summary', :header => 'Order Summary'


:javascript
  braintree.setup(
    "#{@client_token}",
    'dropin', {
      container: 'dropin'
    });
