%h1 Checkout

%h2 You have the following products:

%ul
  - @cart.items.each do |item|
    %li
      %em= item.quantity
      = item.product.name
      = item.total_price

%p
  %strong
  Total Price:
  = number_to_currency @cart.total_price

= form_for @order_form, :url => orders_path do |f|
  = f.fields_for :user, f.object.user do |u|
    - unless current_user
      %p
        = u.text_field :email, :placeholder => 'Email', :class => 'form-control'
        %span.help-block This will help you track your order more effectively
      %p= u.password_field :password, :placeholder => 'password'
      %p= u.password_field :password_confirmation, :placeholder => 'confirm password'
    - else
      = u.hidden_field :id

    .form-group
      %p= u.text_field :name, :placeholder => "Name", :class => "form-control input-lg"
    .form-group
      .row
        %p= u.text_field :address, :placeholder => 'Address', :class => 'form-control'
        %p= u.text_field :postal_code, :placeholder => 'Postal Code / Zipcode', :class => 'form-control'
        %p= u.text_field :city, :placeholder => 'City', :class => 'form-control'
        %p= u.text_field :state, :placeholder => 'State', :class => 'form-control'
      %p= u.country_select :country, {:priority_countries => ['US']}, {:class => 'form-control'}

      %p= u.text_field :phone, :class => 'form-control', :placeholder => 'Phone'


  #dropin

  %p= f.submit "Place Order", :class => 'button button-pink'


:javascript
  braintree.setup(
    "#{@client_token}",
    'dropin', {
      container: 'dropin'
    });
