!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Quotenote
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = yield :font_styles
    = javascript_include_tag "//use.typekit.net/mld4sti.js"
    = javascript_include_tag 'https://js.braintreegateway.com/v2/braintree.js'
    :javascript
      try{Typekit.load();}catch(e){}
    = csrf_meta_tags
  %body
    = render :partial => 'layouts/header'
    .container#editor-container
      .wrapper
        %p.notice= notice
        %p.alert= alert
        .row
          = yield
    - unless @hide_feedback
      .feedback-btn
        %a{:href => "https://docs.google.com/forms/d/1GwKZptrMC3KCa0dCarQeKVs_3Us6Sf9B69g_c7lnYC8/viewform", :target => "_blank"} Give us feedback
    = render 'modals'
    = yield :footer_js

