!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Quotenote
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = yield :font_styles
    = javascript_include_tag "//use.typekit.net/mld4sti.js"
    :javascript
      try{Typekit.load();}catch(e){}
    = csrf_meta_tags
  %body
    = yield
    = yield :footer_js

